<nav>
    <div class="sidebar-sticky mt-7">
        <nav class="navbar navbar-light bg-light mt-5">
            <h2 class="navbar-brand text-center">Menu</h2>
        </nav>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/books">
                    View Book info
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books/borrow">
                    Borrow Book
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">
                    Update Personal Info
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books/return">
                    Return Book
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/top-borrows">
                    Top Borrow
                </a>
            </li> -->
        </ul>
    </div>
</nav>